## Import Modules

In [1]:
# Set paths
import os
from imp import reload

# Data manipulation
import pandas as pd
import numpy as np
from scipy import stats

# Date manipulation
import datetime as dt
import calendar
calendar.setfirstweekday(calendar.SUNDAY) 

# Custom package for data preprocessing
import mytools as mt 

# Set notebook options
pd.set_option("display.max_columns", 150)
pd.set_option("display.max_rows", 10000)
pd.set_option("display.float_format", lambda x: '%.2f' % x)

# Pretty display of multiple functions in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

### File Location

In [2]:
# Data paths
import filepaths

## Load Data

In [3]:
df_master = pd.read_csv(filepaths.master_file_data, sep=',')

df_transactions = pd.read_csv(filepaths.interim_transactions_data, sep=',')

In [4]:
mt.check_unique_no(df_master, ['customer_id'])
df_master.shape
df_master.head(2)

Data has 5647 unique customer_id

(5647, 161)

,customer_id,dob,gender,customer_status,city,state_code,state,region,division,conversion_date,last_purchase_date,number_of_unique_purchase_days,duration.min,duration.max,duration.mean,duration.last,trans_id.count,qty.min,qty.max,qty.sum,cogs.sum,total_amt.sum,assessment_date,account_age.days,account_age.years,account_age.years.group,count.Flagship store,count.MBR,count.TeleShop,count.e-Shop,sum.Flagship store,sum.MBR,sum.TeleShop,sum.e-Shop,mean.Flagship store,mean.MBR,mean.TeleShop,mean.e-Shop,Flagship_store_spend.prop,MBR_spend.prop,TeleShop_spend.prop,e-Shop.prop,count.Bags,count.Books,count.Clothing,count.Electronics,count.Footwear,count.Home and kitchen,sum.Bags,sum.Books,sum.Clothing,sum.Electronics,sum.Footwear,sum.Home and kitchen,mean.Bags,mean.Books,mean.Clothing,mean.Electronics,mean.Footwear,mean.Home and kitchen,Bags.prop,Books.prop,Clothing.prop,Electronics.prop,Footwear.prop,Home and kitchen.prop,count.Academic,count.Audio and video,count.Bath,count.Cameras,count.Children,count.Comics,count.Computers,count.DIY,count.Fiction,...,sum.Bath,sum.Cameras,sum.Children,sum.Comics,sum.Computers,sum.DIY,sum.Fiction,sum.Furnishing,sum.Kids,sum.Kitchen,sum.Mens,sum.Mobiles,sum.Non-Fiction,sum.Personal Appliances,sum.Tools,sum.Women,mean.Academic,mean.Audio and video,mean.Bath,mean.Cameras,mean.Children,mean.Comics,mean.Computers,mean.DIY,mean.Fiction,mean.Furnishing,mean.Kids,mean.Kitchen,mean.Mens,mean.Mobiles,mean.Non-Fiction,mean.Personal Appliances,mean.Tools,mean.Women,Academic.prop,Audio and video.prop,Bath.prop,Cameras.prop,Children.prop,Comics.prop,Computers.prop,DIY.prop,Fiction.prop,Furnishing.prop,Kids.prop,Kitchen.prop,Mens.prop,Mobiles.prop,Non-Fiction.prop,Personal Appliances.prop,Tools.prop,Women.prop,conversion_date.year,conversion_date.month_num,conversion_date.month,conversion_date.year_month,biological_age.actual,biological_age,biological_age.group,repeat_purchaser,returned_item_before,1_day_amt.avg,7_day_amt.avg,30_day_amt.avg,1_day_num.avg,7_day_num.avg,30_day_num.avg,recency,frequency,monetary,r_quartile,f_quartile,m_quartile,RFM_Score,rfm_customer_segment
0,268408,1970-02-01,M,converted,Pittsburgh,PA,Pennsylvania,Northeast,Middle Atlantic,2011-12-07,2014-01-13,11.00,4.00,323.00,99.18,323.00,11.00,-5.00,5.00,33.00,2526.93,24272.43,2014-12-02,1091.00,2.99,02_03,5.00,1.00,3.00,2.00,6217.84,6491.88,3894.02,7668.70,1243.57,6491.88,1298.01,3834.35,0.26,0.27,0.16,0.32,3.00,1.00,1.00,2.00,2.00,2.00,1064.11,1033.17,890.63,7668.70,7526.15,6089.66,354.70,1033.17,890.63,3834.35,3763.08,3044.83,0.04,0.04,0.04,0.32,0.31,0.25,0.00,1.00,0.00,1.00,0.00,0.00,0.00,0.00,1.00,...,0.00,4795.70,0.00,0.00,0.00,0.00,1033.17,0.00,1034.28,6089.66,6491.88,0.00,0.00,0.00,0.00,1954.74,0.00,2873.00,0.00,4795.70,0.00,0.00,0.00,0.00,1033.17,0.00,1034.28,3044.83,2163.96,0.00,0.00,0.00,0.00,977.37,0.00,0.12,0.00,0.20,0.00,0.00,0.00,0.00,0.04,0.00,0.04,0.25,0.27,0.00,0.00,0.00,0.00,0.08,2011.00,12.00,12.0_Dec,2011.0_12.0,44.83,45.00,40_45,yes,yes,22.25,155.74,667.44,0.03,0.21,0.91,323.00,10.00,23112.18,1.00,1.00,1.00,111.00,best customers
1,269696,1970-07-01,F,converted,Dallas,TX,Texas,South,West South Central,2011-09-18,2012-08-04,3.00,111.00,850.00,390.33,850.00,3.00,-4.00,4.00,3.00,1043.91,4488.51,2014-12-02,1171.00,3.21,03_04,0.00,3.00,0.00,0.00,0.00,4488.51,0.00,0.00,0.00,1496.17,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,3.00,0.00,0.00,0.00,0.00,0.00,4488.51,0.00,0.00,0.00,0.00,0.00,1496.17,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,2.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,4488.51,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,4488.51,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,2011.00,9.00,9.0_Sep,2011.0_9.0,44.42,44.00,40_45,yes,yes,3.83,26.83,114.99,0.00,0.02,0.08,961.00,2.00,1239.81,4.00,4.00,4.00,444.00,lost cheap customers

In [71]:
df_master['account_age.years.group'].value_counts(dropna=False)

03_04    3626
02_03    1444
01_02     391
NaN       141
00_01      45
Name: account_age.years.group, dtype: int64

In [72]:
pd.pivot_table(df_master, index=['account_age.years.group'], columns=['trans_id.count'], values=['customer_id'], aggfunc=[pd.Series.nunique])

                            nunique                                            \
                        customer_id
trans_id.count                1.00   2.00   3.00   4.00   5.00   6.00   7.00
account_age.years.group
00_01                         35.00   9.00   1.00    nan    nan    nan    nan
01_02                        137.00 122.00  76.00  33.00   7.00  11.00   4.00
02_03                        151.00 295.00 345.00 277.00 188.00  98.00  55.00
03_04                        140.00 392.00 598.00 715.00 592.00 515.00 312.00



trans_id.count           8.00   9.00  10.00 11.00 12.00 13.00
account_age.years.group
00_01                      nan    nan   nan   nan   nan   nan
01_02                      nan   1.00   nan   nan   nan   nan
02_03                    22.00   7.00  4.00  2.00   nan   nan
03_04                   177.00 105.00 46.00 23.00  9.00  2.00

In [73]:
df_master[df_master['trans_id.count'] > 11]

,customer_id,dob,gender,customer_status,city,state_code,state,region,division,conversion_date,last_purchase_date,number_of_unique_purchase_days,duration.min,duration.max,duration.mean,duration.last,trans_id.count,qty.min,qty.max,qty.sum,cogs.sum,total_amt.sum,assessment_date,account_age.days,account_age.years,account_age.years.group,count.Flagship store,count.MBR,count.TeleShop,count.e-Shop,sum.Flagship store,sum.MBR,sum.TeleShop,sum.e-Shop,mean.Flagship store,mean.MBR,mean.TeleShop,mean.e-Shop,Flagship_store_spend.prop,MBR_spend.prop,TeleShop_spend.prop,e-Shop.prop,count.Bags,count.Books,count.Clothing,count.Electronics,count.Footwear,count.Home and kitchen,sum.Bags,sum.Books,sum.Clothing,sum.Electronics,sum.Footwear,sum.Home and kitchen,mean.Bags,mean.Books,mean.Clothing,mean.Electronics,mean.Footwear,mean.Home and kitchen,Bags.prop,Books.prop,Clothing.prop,Electronics.prop,Footwear.prop,Home and kitchen.prop,count.Academic,count.Audio and video,count.Bath,count.Cameras,count.Children,count.Comics,count.Computers,count.DIY,count.Fiction,...,sum.Computers,sum.DIY,sum.Fiction,sum.Furnishing,sum.Kids,sum.Kitchen,sum.Mens,sum.Mobiles,sum.Non-Fiction,sum.Personal Appliances,sum.Tools,sum.Women,mean.Academic,mean.Audio and video,mean.Bath,mean.Cameras,mean.Children,mean.Comics,mean.Computers,mean.DIY,mean.Fiction,mean.Furnishing,mean.Kids,mean.Kitchen,mean.Mens,mean.Mobiles,mean.Non-Fiction,mean.Personal Appliances,mean.Tools,mean.Women,Academic.prop,Audio and video.prop,Bath.prop,Cameras.prop,Children.prop,Comics.prop,Computers.prop,DIY.prop,Fiction.prop,Furnishing.prop,Kids.prop,Kitchen.prop,Mens.prop,Mobiles.prop,Non-Fiction.prop,Personal Appliances.prop,Tools.prop,Women.prop,conversion_date.year,conversion_date.month_num,conversion_date.month,conversion_date.year_month,biological_age.actual,biological_age,biological_age.group,repeat_purchaser,returned_item_before,1_day_amt.avg,7_day_amt.avg,30_day_amt.avg,1_day_num.avg,7_day_num.avg,30_day_num.avg,recency,frequency,monetary,r_quartile,f_quartile,m_quartile,RFM_Score,rfm_customer_segment,30_day_amt.avg.cumsum,cum_count,30_day_amt.avg.cumsum_pct,cum_count_pct
2209,274227,1979-02-18,M,converted,Akron,OH,Ohio,Midwest,East North Central,2011-03-04,2013-12-14,12.00,7.00,459.00,114.08,353.00,12.00,-1.00,5.00,37.00,3215.94,31119.01,2014-12-02,1369.00,3.75,03_04,1.00,3.00,3.00,5.00,2086.24,8226.73,6276.40,14529.65,2086.24,2742.24,2092.13,2905.93,0.07,0.26,0.20,0.47,1.00,2.00,4.00,1.00,1.00,3.00,1312.74,5094.05,8860.99,8226.73,4163.64,3460.86,1312.74,2547.03,2215.25,8226.73,4163.64,1153.62,0.04,0.16,0.28,0.26,0.13,0.11,1.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,8184.73,3460.86,676.26,0.00,3591.25,0.00,0.00,5476.38,1502.80,8226.73,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2728.24,3460.86,676.26,0.00,3591.25,0.00,0.00,2738.19,0.05,0.26,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.26,0.11,0.02,0.00,0.12,0.00,0.00,0.18,2011.00,3.00,3.0_Mar,2011.0_3.0,35.79,36.00,35_40,yes,yes,22.73,159.12,681.94,0.03,0.19,0.81,353.00,11.00,29756.54,1.00,1.00,1.00,111.00,best customers,123277.63,44,0.09,0.01
263,266794,1971-02-28,F,converted,Houston,TX,Texas,South,West South Central,2011-03-18,2014-12-02,11.00,0.00,520.00,112.92,0.00,12.00,-1.00,4.00,30.00,2684.74,27981.92,2014-12-02,1355.00,3.71,03_04,1.00,3.00,1.00,7.00,718.25,9275.37,4610.06,13378.24,718.25,3091.79,4610.06,1911.18,0.03,0.33,0.16,0.48,2.00,2.00,2.00,4.00,2.00,0.00,5692.96,8380.32,4099.55,5328.31,4480.78,0.00,2846.48,4190.16,2049.78,1332.08,2240.39,0.00,0.20,0.30,0.15,0.19,0.16,0.00,1.00,3.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,4099.55,0.00,2948.14,0.00,0.00,4610.06,0.00,7225.60,3964.74,239.42,0.00,0.00,4415.58,0.00,0.00,0.00,0.00,0.00,2049.78,0.00,2948.14,0.00,0.00,4610.06,0.00,2408.53,0.14,0.03,0.00,0.00,0.16,0.00,0.00,0.00,0.00,0.00,0.15,0.00,0.11,0.00,0.00,0.16,0.00,0.26,2011.00,3.00,3.0_Mar,2011.0_3.0,43.76,44.00,40_45,yes,yes,20.65,144.56,619.53,0.02,0.15,0.66,0.00,11.00,27846.00,1.00,1.00,1.00,111.00,best customers,152291.35,89,0.11,0.02
1733,275252,1977-09-03,M,converted,Akron,OH,Ohio,Midwest,East North Central,2011-04-27,2013-12-24,12.00,29.00,343.00,109.58,343.00,12.00,-4.00,5.00,28.00,4001.87,24898.97,2014-12-02,1315.00,3.60,03_04,1.00,1.00,5.00,5.00,6469.77,596.70,6321.70,11510.78,6469.77,596.70,1264.34,2302.16,0.26,0.02,0.25,0.46,2.00,3.00,3.00,1.00,3.00,0.00,2657.53,8532.81,3664.18,3574.68,6469.77,0.00,1328.76,2844.27,1221.39,3574.68,2156.59,0.00,0.11,0.34,0.15,0.14,0.26,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2.00,...,0.00,0.00,7936.11,0.00,6469.77,0.00,6321.70,0.00,596.70,3574.68,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,3968.05,0.00,2156.59,0.00,2107.24,0.00,596.70,3574.68,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.32,0.00,0.26,0.00,0.25,0.00,0.02,0.14,0.00,0.00,2011.00,4.00,4.0_Apr,2011.0_4.0,37.25,37.00,35_40,yes,yes,18.93,132.54,568.04,0.02,0.15,0.64,343.00,10.00,16291.01,1.00,1.00,1.00,111.00,best customers,190739.91,154,0.14,0.03
4103,270831,1986-10-11,F,converted,Akron,OH,Ohio,Midwest,East North Central,2011-01-03,2014-05-02,12.00,3.00,368.00,119.08,214.00,12.00,-5.00,5.00,32.00,5109.61,26788.52,2014-12-02,1429.00,3.91,03_04,7.00,0.00,2.00,3.00,1752.53,0.00,12729.60,12306.39,250.36,0.00,6364.80,4102.13,0.07,0.00,0.48,0.46,1.00,2.00,4.00,3.00,1.00,1.00,5784.68,10485.34,8905.19,-6746.02,2458.62,5900.70,5784.68,5242.67,2226.30,-2248.68,2458.62,5900.70,0.22,0.39,0.33,-0.25,0.09,0.22,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,1.00,...,0.00,3540.42,6944.93,5900.70,6405.69,0.00,8243.30,0.00,0.00,-6746.02,0.00,2499.51,0.00,0.00,0.00,0.00,0.00,0.00,0.00,3540.42,6944.93,5900.70,3202.84,0.00,4121.65,0.00,0.00,-2248.68,0.00,1249.76,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.13,0.26,0.22,0.24,0.00,0.31,0.00,0.00,-0.25,0.00,0.09,2011.00,1.00,1.0_Jan,2011.0_1.0,28.14,28.00,25_30,yes,yes,18.75,131.22,562.39,0.02,0.16,0.67,214.00,11.00,20042.49,1.00,1.00,1.00,111.00,best customers,195252.90,162,0.14,0.03
321,269245,1971-05-20,M,converted,Pittsburgh,PA,Pennsylvania,Northeast,Middle Atlantic,2011-01-05,2013-06-19,12.00,1.00,531.00,118.92,531.00,12.00,-5.00,5.00,26.00,3079.34,22737.58,2014-12-02,1427.00,3.91,03_04,4.00,0.00,5.00,3.00,5876.39,0.00,4742.66,12118.53,1469.10,0.00,948.53,4039.51,0.26,0.00,0.21,0.53,0.00,2.00,3.00,2.00,3.00,2.00,0.00,3730.48,4782.44,0.00,6205.68,8018.98,0.00,1865.24,1594.15,0.00,2068.56,4009.49,0.00,0.16,0.21,0.00,0.27,0.35,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,...,0.00,0.00,1021.02,6315.07,5876.39,0.00,329.29,0.00,0.00,0.00,1703.91,4782.44,2709.46,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1021.02,6315.07,2938.20,0.00,109.76,0.00,0.00,0.00,1703.91,4782.44,0.12,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.04,0.28,0.26,0.00,0.01,0.00,0.00,0.00,0.07,0.21,2011.00,1.00,1.0_Jan,2011.0_1.0,43.54,44.00,40_45,yes,yes,15.93,111.54,478.02,0.02,0.13,0.55,531.00,10.00,17903.21,3.00,1.00,1.00,311.00,almost lost,309458.41,383,0.22,0.07
1392,272415,1975-09-22,F,converted,Akron,OH,Ohio,Midwest,East North Central,2011-03-16,2013-08-18,12.00,4.00,471.00,113.08,471.00,12.00,-4.00,5.00,26.00,3089.62,20218.19,2014-12-02,1357.00,3.72,03_04,4.00,2.00,0.00,6.00,7491.90,0.00,0.00,12726.28,1872.97,0.00,0.00,2121.05,0.37,0.00,0.00,0.63,0.00,3.00,0.00,3.00,2.00,4.00,0.00,5290.74,0.00,4011.15,4233.26,6683.04,0.00,1763.58,0.00,1337.05,2116.63,1670.76,0.00,0.26,0.00,0.20,0.21,0.33,0.00,2.00,0.00,0.00,0.00,2.00,0.00,1.00,0.00,...,0.00,3021.07,0.00,5116.15,106.08,1566.89,0.00,0.00,0.00,4011.15,0.00,4127.18,0.00,0.00,0.00,0.00,0.00,1134.84,0.00,3021.07,0.00,5116.15,106.08,522.30,0.00,0.00,0.00,4011.15,0.00,4127.18,0.00,0.00,0.00,0.00,0.00,0.11,0.00,0.15,0.00,0.25,0.01,0.08,0.00,0.00,0.00,0.20,0.00,0.20,2011.00,3.00,3.0_Mar,2011.0_3.0,39.20,39.00,35_40,yes,yes,14.90,104.29,446.98,0.02,0.13,0.57,471.00,10.00,14069.97,2.00,1.00,1.00,211.00,big spender,371799.28,518,0.27,0.09
3277,272286,1983-05-13,M,converted,Dallas,TX,Texas,South,West South Central,2011-01-25,2014-01-29,12.00,1.00,316.00,117.25,307.00,12.00,-3.00,5.00,22.00,2002.45,15243.48,2014-12-02,1407.00,3.85,03_04,1.00,6.00,0.00,5.00,2987.92,5605.66,0.00,6649.89,2987.92,934.28,0.00,1329.98,0.20,0.37,0.00,0.44,2.00,0.00,1.00,3.00,2.00,4.00,3815.57,0.00,5116.15,1398.93,3677.44,1235.39,1907.78,0.00,5116.15,466.31,1838.72,308.85,0.25,0.00,0.34,0.09,0.24,0.08,0.00,0.00,0.00,1.00,0.00,0.00,2.00,0.00,0.00,...,0.00,0.00,0.00,392.27,5116.15,843.12,4129.39,0.00,0.00,0.00,0.00,3363.62,0.00,0.00,0.00,1398.93,0.00,0.00,0.00,0.00,0.00,392.27,5116.15,843.12,2064.69,0.00,0.00,0.00,0.00,1681.81,0.00,0.00,0.00,0.09,0.00,0.00,0.00,0.00,0.00,0.03,0.34,0.06,0.27,0.00,0.00,0.00,0.00,0.22,2011.00,1.00,1.0_Jan,2011.0_1.0,31.56,32.00,30_35,yes,yes,10.83,75.84,325.02,0.02,0.11,0.47,307.00,10.00,12328.49,1.00,1.00,1.00,111.00,best customers,689862.01,1361,0.50,0.24
1202,268819,1975-01-17,M,converted,Philadelphia,PA,Pennsylvania,Northeast,Middle Atlantic,2011-02-18,2014-01-26,13.00,3.00,310.00,106.38,310.00,13.00,-4.00,5.00,20.00,2853.80,14911.98,2014-12-02,1383.00,3.79,03_04,4.00,1.00,0.00,8.00,0.00,366.86,0.00,14545.12,0.00,366.86,0.00,1818.14,0.00,0.02,0.00,0.98,0.00,6.00,3.00,2.00,0.00,2.00,0.00,3876.34,2025.46,4869.73,0.00,4140.44,0.00,646.06,675.15,2434.87,0.00,2070.22,0.00,0.26,0.14,0.33,0.00,0.28,0.00,0.00,0.00,1.00,1.00,0.00,1.00,0.00,0.00,...,366.86,0.00,0.00,1485.12,2025.46,0.00,0.00,0.00,1348.10,0.00,2655.32,0.00,0.00,0.00,0.00,4502.88,2528.24,0.00,366.86,0.00,0.00,1485.12,2025.46,0.00,0.00,0.00,269.62,0.00,2655.32,0.00,0.00,0.00,0.00,0.30,0.17,0.00,0.02,0.00,0.00,0.10,0.14,0.00,0.00,0.00,0.09,0.00,0.18,0.00,2011.00,2.00,2.0_Feb,2011.0_2.0,39.87,40.00,35_40,yes,yes,10.78,75.48,323.47,0.01,0.10,0.43,310.00,10.00,7351.56,1.00,1.00,2.00,112.00,loyal customers,694399.19,1375,0.50,0.24
792,273014,1973-02-05,M,converted,Pittsburgh,PA,Pennsylvania,Northeast,Middle Atlantic,2011-05-06,2013-12-15,12.00,5.00,352.00,108.83,352.00,12.00,-3.00,5.00,28.00,1881.70,13802.55,2014-12-02,1306.00,3.58,03_04,1.00,3.00,2.00,6.00,651.95,3132.68,7620.08,2397.85,651.95,1044.22,3810.04,399.64,0.05,0.23,0.55,0.17,1.00,2.00,0.00,2.00,4.00,3.00,1042.02,7914.01,0.00,980.13,3214.45,651.95,1042.02,3957.01,0.00,490.07,803.61,217.32,0.08,0.57,0.00,0.07,0.23,0.05,0.00,0.00,0.00,1.00,0.00,0.00,1.00,1.00,0.00,...,240.89,6333.86,0.00,0.00,2119.39,651.95,1417.71,0.00,1580.15,0.00,0.00,719.36,0.00,0.00,0.00,739.25,0.00,0.00,240.89,6333.86,0.00,0.00,1059.69,651.95,708.86,0.00,1580.15,0.00,0.00,719.36,0.00,0.00,0.00,0.05,0.00,0.00,0.02,0.46,0.00,0.00,0.15,0.05,0.10,0.00,0.11,0.00,0.00,0.05,2011.00,5.00,5.0_May,2011.0_5.0,41.82,42.00,40_45,yes,yes,10.57,73.98,317.06,0.02,0.15,0.64,352.00,11.00,10802.48,1.00,1.00,2.00,112.00,loyal customers,713609.20,1435,0.52,0.25
129,269449,1970-09-08,M,converted,Akron,OH,Ohio,Midwest,East North Central,2011-04-27,2014-01-13,13.00,4.00,323.00,101.15,323.00,13.00,-4.00,4.00,17.00,3390.98,10054.40,2014-12-02,1315.00,3.60,03_04,4.00,1.00,1.00,7.00,7761.52,4813.38,1170.19,-3690.70,1940.38,4813.38,1170.19,-527.24,0.77,0.48,0.12,-0.37,0.00,2.00,3.00,0.00,3.00,5.00,0.00,2298.40,364.65,0.00,8257.67,-866.32,0.00,1149.20,121.55,0.00,2752.56,-173.26,0.00,0.23,0.04,0.00,0.82,-0.09,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,2.00,...,0.00,0.00,2298.40,0.00,3808.93,0.00,4813.38,0.00,0.00,0.00,-1569.10,0.00,0.00,0.00,702.78,0.00,0.00,0.00,0.00,0.00,1149.20,0.00,1269.65,0.00,4813.38,0.00,0.00,0.00,-392.27,0.00,0.00,0.00,0.07,0.00,0.00,0.00,0.00,0.00,0.23,0.00,0.38,0.00,0.48,0.00,0.00,0.00,-0.16,0.00,2011.00,4.00,4.0_Apr,2011.0_4.0,44.23,44.00,40_45,yes,yes,7.65,53.52,229.38,0.01,0.09,0.39,323.00,11.00,3245.39,1.00,1.00,4.00,114.00,loyal customers,998587.30,2482,0.73,0.44
1287,268663,1975-05-17,F,converted,Dallas,TX,Texas,South,West South Central,2011-06-23,2013-07-26,11.00,0.00,494.00,104.83,494.00,12.00,-2.00,4.00,7.00,2110.39,6182.48,2014-12-02,1258.00,3.44,03_04,0.00,1.00,4.00,7.00,0.00,753.61,374.60,5054.27,0.00,753.61,93.65,722.04,0.00,0.12,0.06,0.82,0.00,5.00,2.00,3.00,0.00,2.00,0.00,1128.21,2636.53,-3297.32,0.00,5715.06,0.00,225.64,1318.27,-1099.11,0.00,2857.53,0.00,0.18,0.43,-0.53,0.00,0.92,0.00,0.00,0.00,0.00,0.00,5.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,141.44,2581.28,0.00,0.00,0.00,-3297.32,3133.78,2495.09,0.00,0.00,0.00,0.00,0.00,225.64,0.00,0.00,0.00,0.00,141.44,2581.28,0.00,0.00,0.00,-1099.11,3133.78,2495.09,0.00,0.00,0.00,0.00,0.00,0.18,0.00,0.00,0.00,0.00,0.02,0.42,0.00,0.00,0.00,-0.53,0.51,0.40,2011.00,6.00,6.0_Jun,2011.0_6.0,39.55,40.00,35_40,yes,yes,4.91,34.40,147.44,0.01,0.04,0.17,494.00,10.00,2175.75,3.00,1.00,4.00,314.00,loyal customers,1234156.21,3737,0.90,0.66

In [5]:
mt.check_unique_no(df_transactions, ['customer_id'])
df_transactions.shape
df_transactions.head(2)

Data has 5506 unique customer_id

(20996, 32)

,trans_id,customer_id,trans_date,prod_subcat_code,prod_cat_code,qty,rate,cogs,total_amt,store_type,returned_item,drop_record,prod_cat,prod_subcat,counter,margin,assessment_date,duration,trans_date.day,trans_date.month_num,trans_date.year,trans_date.year_month,trans_date.hour,trans_date.weekday,trans_date.week_of_year,trans_date.month,trans_date.weekday_num,trans_date.week_of_month,first_purchase_date,first_purchase.cohort,purchase_date.cohort,returned_item_before
0,25890929042,266783,2011-09-24,1,2,-4,-1321,554.82,-5838.82,e-Shop,yes,no,Footwear,Mens,1,-6393.64,2014-12-02,393.00,24,9,2011,2011_09,0,07_Saturday,38,09_Sep,7,month.week4,2011-09-23,2011_09,2011_09,yes
1,98477711300,266783,2012-10-21,4,1,3,93,29.30,308.30,TeleShop,no,yes,Clothing,Mens,1,279.00,2014-12-02,122.00,21,10,2012,2012_10,0,01_Sunday,42,10_Oct,1,month.week3,2011-09-23,2011_09,2012_10,no

In [75]:
pd.pivot_table(df_transactions, index=['store_type'], values=['customer_id'], aggfunc=[pd.Series.nunique])

                   nunique
               customer_id
store_type
Flagship store        2941
MBR                   3000
TeleShop              2912
e-Shop                4366

In [76]:
pd.pivot_table(df_transactions, index=['store_type'], values=['duration'], aggfunc=['mean'])

                   mean
               duration
store_type
Flagship store   291.94
MBR              285.87
TeleShop         287.96
e-Shop           290.29

## Sales Performance Metrics

In [6]:
df_transactions['trans_date'] = pd.to_datetime(df_transactions['trans_date'])

df_transactions['trans_date'].sort_values().min()
df_transactions['trans_date'].sort_values().max()

Timestamp('2011-01-02 00:00:00')

Timestamp('2014-12-02 00:00:00')

In [7]:
df = df_transactions[['customer_id', 'trans_date', 'first_purchase.cohort', 'trans_date.year_month', 'total_amt', 'qty', 'margin']]  
df = df.sort_values(['customer_id', 'trans_date'])
df.set_index(['trans_date.year_month'], inplace=True)

mt.check_unique_no(df, ['customer_id'])
df.shape
df.head(2)

Data has 5506 unique customer_id

(20996, 6)

,customer_id,trans_date,first_purchase.cohort,total_amt,qty,margin
trans_date.year_month,,,,,,
2011_09,266783,2011-09-24,2011_09,-5838.82,-4,-6393.64
2012_10,266783,2012-10-21,2011_09,308.30,3,279.00

### Gross Margin Per Cohort

In [8]:
df_gross_margin = df.groupby(['first_purchase.cohort']).agg({'margin':'sum', 'total_amt':'sum'}).reset_index() 
df_gross_margin['gross_margin_pct'] = (df_gross_margin['margin'] / df_gross_margin['total_amt']) * 100

mt.check_unique_no(df_gross_margin, ['first_purchase.cohort'])
df_gross_margin.shape
df_gross_margin.head(2)

Data has 46 unique first_purchase.cohort

(46, 4)

  first_purchase.cohort     margin  total_amt  gross_margin_pct
0               2011_01 2897247.07 3310413.15             87.52
1               2011_02 3770295.12 4306549.65             87.55

### Monthly Revenue

In [9]:
df_revenue = df.groupby(['trans_date.year_month'])['total_amt'].sum().reset_index()
df_revenue.rename(columns={'total_amt':'monthly_revenue'}, inplace=True)

mt.check_unique_no(df_revenue, ['trans_date.year_month'])
df_revenue.shape
df_revenue.head(2)

Data has 48 unique trans_date.year_month

(48, 2)

  trans_date.year_month  monthly_revenue
0               2011_01        756653.17
1               2011_02        934599.06

### Monthly Revenue Growth Rate

In [10]:
df_revenue['monthly_growth_rate'] = df_revenue['monthly_revenue'].pct_change()
df_revenue.dropna(axis=0, how='any', inplace=True)

mt.check_unique_no(df_revenue, ['trans_date.year_month'])
df_revenue.shape
df_revenue.head(2)

Data has 47 unique trans_date.year_month

(47, 3)

  trans_date.year_month  monthly_revenue  monthly_growth_rate
1               2011_02        934599.06                 0.24
2               2011_03       1213495.53                 0.30

### Monthly Active Customers

In [11]:
df_active_customers = df.groupby('trans_date.year_month')['customer_id'].nunique().reset_index()
df_active_customers.rename(columns={'customer_id':'monthly_active_customers'}, inplace=True)

mt.check_unique_no(df_active_customers, ['trans_date.year_month'])
df_active_customers.shape
df_active_customers.head()

Data has 48 unique trans_date.year_month

(48, 2)

  trans_date.year_month  monthly_active_customers
0               2011_01                       315
1               2011_02                       472
2               2011_03                       546
3               2011_04                       519
4               2011_05                       493

### Average Revenue Per Customer Per Month

In [12]:
df_average_revenue_per_user_per_month = pd.merge(df_revenue, df_active_customers, on=['trans_date.year_month'], how='left')
df_average_revenue_per_user_per_month['average_revenue_per_customer'] = df_average_revenue_per_user_per_month['monthly_revenue']/df_average_revenue_per_user_per_month['monthly_active_customers']

mt.check_unique_no(df_average_revenue_per_user_per_month, ['trans_date.year_month'])
df_average_revenue_per_user_per_month.shape
df_average_revenue_per_user_per_month.head()

Data has 47 unique trans_date.year_month

(47, 5)

,trans_date.year_month,monthly_revenue,monthly_growth_rate,monthly_active_customers,average_revenue_per_customer
0,2011_02,934599.06,0.24,472,1980.08
1,2011_03,1213495.53,0.30,546,2222.52
2,2011_04,1195112.75,-0.02,519,2302.72
3,2011_05,975495.10,-0.18,493,1978.69
4,2011_06,1115870.99,0.14,471,2369.15

### Average Revenue Per Customer Per Cohort

In [13]:
df_revenue_per_cohort = df.groupby(['first_purchase.cohort'])['total_amt'].sum().reset_index()
df_revenue_per_cohort.rename(columns={'total_amt':'revenue_per_cohort'}, inplace=True)

df_active_customers_per_cohort = df.groupby('first_purchase.cohort')['customer_id'].nunique().reset_index()
df_active_customers_per_cohort.rename(columns={'customer_id':'active_customers_per_cohort'}, inplace=True)

df_average_revenue_per_user_per_cohort = pd.merge(df_revenue_per_cohort, df_active_customers_per_cohort, on=['first_purchase.cohort'], how='left')
df_average_revenue_per_user_per_cohort['average_revenue_per_customer'] = df_average_revenue_per_user_per_cohort['revenue_per_cohort']/df_average_revenue_per_user_per_cohort['active_customers_per_cohort']

mt.check_unique_no(df_average_revenue_per_user_per_cohort, ['first_purchase.cohort'])
df_average_revenue_per_user_per_cohort.shape
df_average_revenue_per_user_per_cohort.head()

Data has 46 unique first_purchase.cohort

(46, 4)

,first_purchase.cohort,revenue_per_cohort,active_customers_per_cohort,average_revenue_per_customer
0,2011_01,3310413.15,341,9707.96
1,2011_02,4306549.65,461,9341.76
2,2011_03,4408921.27,485,9090.56
3,2011_04,3603409.42,414,8703.89
4,2011_05,2850613.81,335,8509.29

### Monthly Order Count

In [14]:
df_active_customers = df.groupby('trans_date.year_month')['qty'].sum().reset_index()

mt.check_unique_no(df_active_customers, ['trans_date.year_month'])
df_active_customers.shape
df_active_customers.head(2)

Data has 48 unique trans_date.year_month

(48, 2)

  trans_date.year_month   qty
0               2011_01   856
1               2011_02  1099

### Average Revenue Per Order

In [15]:
df_avg_revenue_per_order = df.groupby('trans_date.year_month')['total_amt'].mean().reset_index()

mt.check_unique_no(df_avg_revenue_per_order, ['trans_date.year_month'])
df_avg_revenue_per_order.shape
df_avg_revenue_per_order.head(2)

Data has 48 unique trans_date.year_month

(48, 2)

  trans_date.year_month  total_amt
0               2011_01    2342.58
1               2011_02    1884.27

## Customer Growth Metrics
### New vs Existing Customers

In [16]:
df_new_vs_existing_customers = df.copy()
df_first_purchase_date = df_new_vs_existing_customers.groupby(['customer_id']).agg({'trans_date':'first'})
df_first_purchase_date.rename(columns={'trans_date':'first_purchase_date'}, inplace=True)
df_new_vs_existing_customers = pd.merge(df_new_vs_existing_customers, df_first_purchase_date, on='customer_id', how='left')
df_new_vs_existing_customers['first_purchase.cohort'] = df_new_vs_existing_customers['first_purchase_date'].dt.year.map(str) + "_" + df_new_vs_existing_customers['first_purchase_date'].dt.month.map("{:02}".format)
df_new_vs_existing_customers['purchase_date.cohort'] = df_new_vs_existing_customers['trans_date'].dt.year.map(str) + "_" + df_new_vs_existing_customers['trans_date'].dt.month.map("{:02}".format)
df_earliest_purchase_date = df_first_purchase_date.copy()
df_earliest_purchase_date.rename(columns={'first_purchase_date':'trans_date'}, inplace=True)
df_earliest_purchase_date['customer_type'] = 'new'
df_new_vs_existing_customers = pd.merge(df_new_vs_existing_customers, df_earliest_purchase_date, on=['customer_id', 'trans_date'], how='left')
df_new_vs_existing_customers['customer_type']  = np.where(df_new_vs_existing_customers['customer_type'].isnull(), 'existing', df_new_vs_existing_customers['customer_type'])

In [17]:
mt.check_unique_no(df_new_vs_existing_customers, ['customer_id'])
df_new_vs_existing_customers.shape
df_new_vs_existing_customers.head(2)

Data has 5506 unique customer_id

(20996, 9)

,customer_id,trans_date,first_purchase.cohort,total_amt,qty,margin,first_purchase_date,purchase_date.cohort,customer_type
0,266783,2011-09-24,2011_09,-5838.82,-4,-6393.64,2011-09-24,2011_09,new
1,266783,2012-10-21,2011_09,308.30,3,279.00,2011-09-24,2012_10,existing

In [18]:
df_new_vs_existing_customers['returned_first_purchase'] = np.where(((df_new_vs_existing_customers['customer_type'] == 'new') & (df_new_vs_existing_customers['qty'] <0)), 'yes', 'no')

In [19]:
df_new_vs_existing_customers['returned_first_purchase'].value_counts(dropna=False)

no     20464
yes      532
Name: returned_first_purchase, dtype: int64

In [20]:
df_new_vs_existing_customers[df_new_vs_existing_customers['returned_first_purchase'] == 'yes']['customer_id'].nunique()

529

### New Customer Ratio

In [21]:
#create a dataframe that shows new user ratio - we also need to drop NA values (first month new user ratio is 0)
df_new_vs_existing_customers['trans_date'] = pd.to_datetime(df_new_vs_existing_customers['trans_date'])
df_new_vs_existing_customers['trans_date.year_month'] = df_new_vs_existing_customers['trans_date'].dt.year.map(str) + "_" + df_new_vs_existing_customers['trans_date'].dt.month.map("{:02}".format)
df_user_ratio = df_new_vs_existing_customers.query("customer_type == 'new'").groupby(['trans_date.year_month'])['customer_id'].nunique()/df_new_vs_existing_customers.query("customer_type == 'existing'").groupby(['trans_date.year_month'])['customer_id'].nunique() 
df_user_ratio = df_user_ratio.reset_index()
df_user_ratio = df_user_ratio.dropna()

df_user_ratio.head(2)

  trans_date.year_month  customer_id
0               2011_01        39.38
1               2011_02         9.29

## Customer Profitability
### Power User Curve

In [22]:
df_purchase_frequency_distribution = df_master.groupby(['frequency'], as_index=False).agg({'customer_id':'count'})

mt.check_unique_no(df_purchase_frequency_distribution, ['customer_id'])
df_purchase_frequency_distribution.shape
df_purchase_frequency_distribution.head(2)

Data has 11 unique customer_id

(11, 2)

   frequency  customer_id
0       1.00          508
1       2.00          951

In [69]:
# df_purchase_frequency_distribution.to_csv('power_user_curve.csv', index=False)

### Whale Curve

In [23]:
df_master = df_master.sort_values('30_day_amt.avg',ascending=False)
df_master['30_day_amt.avg.cumsum'] = df_master['30_day_amt.avg'].cumsum()
df_master = df_master.sort_values('30_day_amt.avg.cumsum',ascending=True)
df_master['cum_count'] = df_master.reset_index().index+1
df_master['30_day_amt.avg.cumsum_pct'] = (df_master['30_day_amt.avg.cumsum']/df_master['30_day_amt.avg.cumsum'].max())#*100
df_master['cum_count_pct'] = (df_master['cum_count']/df_master['cum_count'].max())#*100

mt.check_unique_no(df_master, ['customer_id'])
df_master.shape
df_master.head(2)

Data has 5647 unique customer_id

(5647, 165)

,customer_id,dob,gender,customer_status,city,state_code,state,region,division,conversion_date,last_purchase_date,number_of_unique_purchase_days,duration.min,duration.max,duration.mean,duration.last,trans_id.count,qty.min,qty.max,qty.sum,cogs.sum,total_amt.sum,assessment_date,account_age.days,account_age.years,account_age.years.group,count.Flagship store,count.MBR,count.TeleShop,count.e-Shop,sum.Flagship store,sum.MBR,sum.TeleShop,sum.e-Shop,mean.Flagship store,mean.MBR,mean.TeleShop,mean.e-Shop,Flagship_store_spend.prop,MBR_spend.prop,TeleShop_spend.prop,e-Shop.prop,count.Bags,count.Books,count.Clothing,count.Electronics,count.Footwear,count.Home and kitchen,sum.Bags,sum.Books,sum.Clothing,sum.Electronics,sum.Footwear,sum.Home and kitchen,mean.Bags,mean.Books,mean.Clothing,mean.Electronics,mean.Footwear,mean.Home and kitchen,Bags.prop,Books.prop,Clothing.prop,Electronics.prop,Footwear.prop,Home and kitchen.prop,count.Academic,count.Audio and video,count.Bath,count.Cameras,count.Children,count.Comics,count.Computers,count.DIY,count.Fiction,...,sum.Computers,sum.DIY,sum.Fiction,sum.Furnishing,sum.Kids,sum.Kitchen,sum.Mens,sum.Mobiles,sum.Non-Fiction,sum.Personal Appliances,sum.Tools,sum.Women,mean.Academic,mean.Audio and video,mean.Bath,mean.Cameras,mean.Children,mean.Comics,mean.Computers,mean.DIY,mean.Fiction,mean.Furnishing,mean.Kids,mean.Kitchen,mean.Mens,mean.Mobiles,mean.Non-Fiction,mean.Personal Appliances,mean.Tools,mean.Women,Academic.prop,Audio and video.prop,Bath.prop,Cameras.prop,Children.prop,Comics.prop,Computers.prop,DIY.prop,Fiction.prop,Furnishing.prop,Kids.prop,Kitchen.prop,Mens.prop,Mobiles.prop,Non-Fiction.prop,Personal Appliances.prop,Tools.prop,Women.prop,conversion_date.year,conversion_date.month_num,conversion_date.month,conversion_date.year_month,biological_age.actual,biological_age,biological_age.group,repeat_purchaser,returned_item_before,1_day_amt.avg,7_day_amt.avg,30_day_amt.avg,1_day_num.avg,7_day_num.avg,30_day_num.avg,recency,frequency,monetary,r_quartile,f_quartile,m_quartile,RFM_Score,rfm_customer_segment,30_day_amt.avg.cumsum,cum_count,30_day_amt.avg.cumsum_pct,cum_count_pct
3951,274213,1986-03-27,M,converted,Houston,TX,Texas,South,West South Central,2014-12-01,2014-12-01,1.00,1.00,1.00,1.00,1.00,1.00,2.00,2.00,2.00,279.72,2943.72,2014-12-02,1.00,0.00,00_01,0.00,1.00,0.00,0.00,0.00,2943.72,0.00,0.00,0.00,2943.72,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,2943.72,0.00,0.00,0.00,0.00,0.00,2943.72,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,2943.72,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2943.72,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,2014.00,12.00,12.0_Dec,2014.0_12.0,28.69,29.00,25_30,no,no,2943.72,20606.04,88311.60,2.00,14.00,60.00,1.00,1.00,2943.72,1.00,4.00,4.00,144.00,other,88311.60,1,0.06,0.00
1700,268801,1977-04-01,M,converted,Philadelphia,PA,Pennsylvania,Northeast,Middle Atlantic,2014-10-02,2014-10-02,1.00,61.00,61.00,61.00,61.00,1.00,4.00,4.00,4.00,359.94,3787.94,2014-12-02,61.00,0.17,00_01,0.00,0.00,0.00,1.00,0.00,0.00,0.00,3787.94,0.00,0.00,0.00,3787.94,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,3787.94,0.00,0.00,0.00,0.00,0.00,3787.94,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,3787.94,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,3787.94,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,2014.00,10.00,10.0_Oct,2014.0_10.0,37.67,38.00,35_40,no,no,62.10,434.68,1862.92,0.07,0.46,1.97,61.00,1.00,3787.94,1.00,4.00,3.00,143.00,other,90174.52,2,0.07,0.00

## Customer Retention
### Monthly Retention Rate

In [24]:
#identify which users are active by looking at their revenue per month
df_user_purchase = df.groupby(['customer_id','trans_date.year_month'])['total_amt'].sum().reset_index()

#create retention matrix with crosstab
df_retention = pd.crosstab(df_user_purchase['customer_id'], df_user_purchase['trans_date.year_month']).reset_index()
mt.check_unique_no(df_retention, ['customer_id'])
df_retention.shape
df_retention.head(2)

Data has 5506 unique customer_id

(5506, 49)

trans_date.year_month,customer_id,2011_01,2011_02,2011_03,2011_04,2011_05,2011_06,2011_07,2011_08,2011_09,2011_10,2011_11,2011_12,2012_01,2012_02,2012_03,2012_04,2012_05,2012_06,2012_07,2012_08,2012_09,2012_10,2012_11,2012_12,2013_01,2013_02,2013_03,2013_04,2013_05,2013_06,2013_07,2013_08,2013_09,2013_10,2013_11,2013_12,2014_01,2014_02,2014_03,2014_04,2014_05,2014_06,2014_07,2014_08,2014_09,2014_10,2014_11,2014_12
0,266783,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,266784,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [25]:
#create an array of dictionary which keeps Retained & Total User count for each month
months = df_retention.columns[1:] #2:
retention_array = []
for i in range(len(months)-1):
    retention_data = {}
    selected_month = months[i+1]
    prev_month = months[i]
    retention_data['trans_date.year_month'] = int(selected_month)
    retention_data['total_user_count'] = df_retention[selected_month].sum() #active users per month
    retention_data['retained_user_count'] = df_retention[(df_retention[selected_month]>0) & (df_retention[prev_month]>0)][selected_month].sum()
    retention_array.append(retention_data)

In [26]:
months

Index(['2011_01', '2011_02', '2011_03', '2011_04', '2011_05', '2011_06',
       '2011_07', '2011_08', '2011_09', '2011_10', '2011_11', '2011_12',
       '2012_01', '2012_02', '2012_03', '2012_04', '2012_05', '2012_06',
       '2012_07', '2012_08', '2012_09', '2012_10', '2012_11', '2012_12',
       '2013_01', '2013_02', '2013_03', '2013_04', '2013_05', '2013_06',
       '2013_07', '2013_08', '2013_09', '2013_10', '2013_11', '2013_12',
       '2014_01', '2014_02', '2014_03', '2014_04', '2014_05', '2014_06',
       '2014_07', '2014_08', '2014_09', '2014_10', '2014_11', '2014_12'],
      dtype='object', name='trans_date.year_month')

In [27]:
#convert the array to dataframe and calculate Retention Rate
df_retention = pd.DataFrame(retention_array)
# df_retention['new_customers.count'] = df_retention['total_user_count'] - df_retention['retained_user_count']
df_retention.head(2)

   trans_date.year_month  total_user_count  retained_user_count
0                 201102               472                   26
1                 201103               546                   46

In [28]:
df_retention['trans_date.year_month'] = df_retention['trans_date.year_month'].astype('int').astype('str')
df_retention['trans_date.year_month'].dtype

df_retention['trans_date.year'] = df_retention['trans_date.year_month'].str[:4]
df_retention['trans_date.year'].head(2)

df_retention['trans_date.month'] = df_retention['trans_date.year_month'].str[-2:]
df_retention['trans_date.month'].head(2)

dtype('O')

0    2011
1    2011
Name: trans_date.year, dtype: object

0    02
1    03
Name: trans_date.month, dtype: object

In [29]:
df_retention.drop(['trans_date.year_month'], axis=1, inplace=True)
df_retention['trans_date.year_month'] = df_retention['trans_date.year'].map(str) + "_" + df_retention['trans_date.month'].map(str)
df_retention.drop(['trans_date.year', 'trans_date.month'], axis=1, inplace=True)
df_retention = df_retention[['trans_date.year_month', 'total_user_count', 'retained_user_count']] #, 'new_customers.count'
df_retention.head(2)

  trans_date.year_month  total_user_count  retained_user_count
0               2011_02               472                   26
1               2011_03               546                   46

In [30]:
df_retention['retention_rate.monthly'] = df_retention['retained_user_count']/df_retention['total_user_count']

mt.check_unique_no(df_retention, ['trans_date.year_month'])
df_retention.shape
df_retention.head(2)

Data has 47 unique trans_date.year_month

(47, 4)

,trans_date.year_month,total_user_count,retained_user_count,retention_rate.monthly
0,2011_02,472,26,0.06
1,2011_03,546,46,0.08

### Cohort-Based Retention Rates 1

In [31]:
# df_customer_count_per_cohort = df_new_vs_existing_customers.groupby(['first_purchase.cohort'], as_index=False).agg({'customer_id':pd.Series.nunique})
# df_customer_count_per_cohort.rename(columns={'customer_id':'unique_customer.count'}, inplace=True)

# df_customer_count_per_cohort['unique_customer.cumulative_count'] = df_customer_count_per_cohort['unique_customer.count'].cumsum()

# mt.check_unique_no(df_customer_count_per_cohort, ['first_purchase.cohort'])
# df_customer_count_per_cohort.shape
# df_customer_count_per_cohort.head(2)

In [32]:
# #identify which users are active by looking at their revenue per month
# df_user_purchase = df.groupby(['customer_id','trans_date.year_month'])['total_amt'].sum().reset_index()

# #create retention matrix with crosstab
# df_retention = pd.crosstab(df_user_purchase['customer_id'], df_user_purchase['trans_date.year_month']).reset_index()
# mt.check_unique_no(df_retention, ['customer_id'])
# df_retention.shape
# df_retention.head(2)

In [33]:
# df_transactions[df_transactions['customer_id'] == 266783]

In [34]:
# #identify which users are active by looking at their deposits per month
# df_customer_deposit = df_new_vs_existing_customers.groupby(['customer_id','first_purchase.cohort'])['total_amt'].sum().reset_index()
# df_customer_deposit['customer_id'].value_counts(dropna=False).head(2)

# # df_customer_deposit[df_customer_deposit['customer_no']== 1001245]
# df_customer_deposit[df_customer_deposit['first_purchase.cohort'] == '2011_09'].shape
# a = df_customer_deposit[df_customer_deposit['first_purchase.cohort'] == '2011_09']['customer_id'].unique().tolist()
# b = df_customer_deposit[df_customer_deposit['first_purchase.cohort'] == '2011_10']
# b[b['customer_id'].isin(a)].shape

In [35]:
# #create an array of dictionary which keeps Retained & Total User count for each month
# months = df_retention.columns[0:] #2:
# retention_array = []
# for i in range(len(months)-1):
#     retention_data = {}
#     selected_month = months[i+1]
#     prev_month = months[i]
#     retention_data['trans_date.year_month'] = int(selected_month)
#     retention_data['total_user_count'] = df_retention[selected_month].sum() #active users per month
#     retention_data['retained_user_count'] = df_retention[(df_retention[selected_month]>0) & (df_retention[prev_month]>0)][selected_month].sum()
#     retention_array.append(retention_data)

In [36]:
#convert the array to dataframe and calculate Retention Rate
df_retention = pd.DataFrame(retention_array)
# df_retention['new_customers.count'] = df_retention['total_user_count'] - df_retention['retained_user_count']
df_retention.head(2)

   trans_date.year_month  total_user_count  retained_user_count
0                 201102               472                   26
1                 201103               546                   46

In [37]:
# df_retention['trans_date.year_month'] = df_retention['trans_date.year_month'].astype('int').astype('str')
# df_retention['trans_date.year_month'].dtype

In [38]:
# df_retention['trans_date.year'] = df_retention['trans_date.year_month'].str[:4]
# df_retention['trans_date.year'].head(2)

In [39]:
# df_retention['trans_date.month'] = df_retention['trans_date.year_month'].str[-2:]
# df_retention['trans_date.month'].head(2)

In [40]:
# df_retention.drop(['trans_date.year_month'], axis=1, inplace=True)

In [41]:
# df_retention['trans_date.year_month'] = df_retention['trans_date.year'].map(str) + "_" + df_retention['trans_date.month'].map(str)

In [42]:
# df_retention.drop(['trans_date.year', 'trans_date.month'], axis=1, inplace=True)
# df_retention = df_retention[['trans_date.year_month', 'total_user_count', 'retained_user_count']] #, 'new_customers.count'
# df_retention.head(2)

In [43]:
# df_customer_count_per_cohort['first_purchase.cohort'].dtype
# df_retention['trans_date.year_month'] = df_retention['trans_date.year_month'].astype('O')
# df_retention['trans_date.year_month'].dtype

In [44]:
# df_retention = pd.merge(df_customer_count_per_cohort, df_retention, left_on='first_purchase.cohort', right_on='trans_date.year_month', how='left')
# df_retention = df_retention.drop(['trans_date.year_month'], axis=1)
# df_retention['new_customers.count'] = df_retention['unique_customer.count'].copy()
# df_retention['retained_user_prev_periods.count'] = df_retention['total_user_count'] - df_retention['retained_user_count'] - df_retention['new_customers.count']
# df_retention['retention_rate.cum_user_count'] = df_retention['retained_user_count']/df_retention['unique_customer.cumulative_count']
# df_retention = df_retention.rename(columns={'first_purchase.cohort':'registration_cohort', 'unique_customer.count':'total_customers_registered.count', 
#                                                                              'unique_customer.cumulative_count':'total_customers_registered.cumulative_count',
#                                            'retained_user_count':'retained_user_immediate_period_count'})
# df_retention.head()
# df_retention.tail()

In [45]:
# df_retention['retention_rate.cum_user_count'].describe()

In [46]:
# df_average_revenue_per_user_per_cohort.head(2)

In [47]:
# df_retention['month'] = df_retention.reset_index().index+1 - 1
# df_retention['churn_rate.compound'] = 1 - ((df_retention['total_user_count']/df_retention.loc[0, 'total_customers_registered.count'])**(1/df_retention['month']))

# df_retention = pd.merge(df_retention, df_gross_margin[['first_purchase.cohort', 'gross_margin_pct']], left_on=['registration_cohort'], right_on=['first_purchase.cohort'], how='left')
# df_retention = pd.merge(df_retention, df_average_revenue_per_user_per_month, left_on=['registration_cohort'], right_on=['trans_date.year_month'], how='left')

# mt.check_unique_no(df_retention, ['registration_cohort'])
# df_retention.shape
# df_retention.head(2)

In [48]:
# df_retention['churn_rate.compound'].describe()

In [49]:
# df_retention['retention_rate.compound_churn_rate'] = 1- df_retention['churn_rate.compound']
# df_retention['retention_rate.compound_churn_rate'].describe()

In [50]:
# df_retention['gross_margin_pct'].describe()

### Cohort-Based Retention Rates 2

In [51]:
df_user_purchase.head(2)

   customer_id trans_date.year_month  total_amt
0       266783               2011_09   -5838.82
1       266783               2012_10     308.30

In [52]:
df_user_purchase.isnull().sum()

customer_id              0
trans_date.year_month    0
total_amt                0
dtype: int64

In [53]:
df_min_purchase = df_transactions.groupby('customer_id').trans_date.min().reset_index()
df_min_purchase.columns = ['customer_id','first_date_cohort']
df_min_purchase['first_date_cohort'] = df_min_purchase['first_date_cohort'].dt.year.map(str) + "_" + df_min_purchase['first_date_cohort'].dt.month.map("{:02}".format)
df_min_purchase.head(2)

   customer_id first_date_cohort
0       266783           2011_09
1       266784           2012_04

In [54]:
df_min_purchase.isnull().sum()

customer_id          0
first_date_cohort    0
dtype: int64

In [55]:
#create our retention table again with crosstab() and add firs purchase year month view
df_retention = pd.crosstab(df_user_purchase['customer_id'], df_user_purchase['trans_date.year_month']).reset_index()
df_retention.head(2)

trans_date.year_month,customer_id,2011_01,2011_02,2011_03,2011_04,2011_05,2011_06,2011_07,2011_08,2011_09,2011_10,2011_11,2011_12,2012_01,2012_02,2012_03,2012_04,2012_05,2012_06,2012_07,2012_08,2012_09,2012_10,2012_11,2012_12,2013_01,2013_02,2013_03,2013_04,2013_05,2013_06,2013_07,2013_08,2013_09,2013_10,2013_11,2013_12,2014_01,2014_02,2014_03,2014_04,2014_05,2014_06,2014_07,2014_08,2014_09,2014_10,2014_11,2014_12
0,266783,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,266784,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [56]:
df_retention = pd.merge(df_retention,df_min_purchase[['customer_id','first_date_cohort']],on='customer_id')
df_retention.head(2)

,customer_id,2011_01,2011_02,2011_03,2011_04,2011_05,2011_06,2011_07,2011_08,2011_09,2011_10,2011_11,2011_12,2012_01,2012_02,2012_03,2012_04,2012_05,2012_06,2012_07,2012_08,2012_09,2012_10,2012_11,2012_12,2013_01,2013_02,2013_03,2013_04,2013_05,2013_06,2013_07,2013_08,2013_09,2013_10,2013_11,2013_12,2014_01,2014_02,2014_03,2014_04,2014_05,2014_06,2014_07,2014_08,2014_09,2014_10,2014_11,2014_12,first_date_cohort
0,266783,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2011_09
1,266784,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2012_04

In [57]:
new_column_names = [ 'm_' + str(column) for column in df_retention.columns[:-1]]
new_column_names[0:2]
new_column_names.append('first_date_cohort')

['m_customer_id', 'm_2011_01']

In [58]:
df_retention.columns = new_column_names
df_retention.head(2)

,m_customer_id,m_2011_01,m_2011_02,m_2011_03,m_2011_04,m_2011_05,m_2011_06,m_2011_07,m_2011_08,m_2011_09,m_2011_10,m_2011_11,m_2011_12,m_2012_01,m_2012_02,m_2012_03,m_2012_04,m_2012_05,m_2012_06,m_2012_07,m_2012_08,m_2012_09,m_2012_10,m_2012_11,m_2012_12,m_2013_01,m_2013_02,m_2013_03,m_2013_04,m_2013_05,m_2013_06,m_2013_07,m_2013_08,m_2013_09,m_2013_10,m_2013_11,m_2013_12,m_2014_01,m_2014_02,m_2014_03,m_2014_04,m_2014_05,m_2014_06,m_2014_07,m_2014_08,m_2014_09,m_2014_10,m_2014_11,m_2014_12,first_date_cohort
0,266783,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2011_09
1,266784,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2012_04

In [59]:
#create the array of Retained users for each cohort monthly
retention_array = []
for i in range(len(months)):
    retention_data = {}
    selected_month = months[i]
    prev_months = months[:i]
    next_months = months[i+1:]
    for prev_month in prev_months:
        retention_data[prev_month] = np.nan

In [60]:
#create the array of Retained users for each cohort monthly
retention_array = []
for i in range(len(months)):
    retention_data = {}
    selected_month = months[i]
    prev_months = months[:i]
    next_months = months[i+1:]
    for prev_month in prev_months:
        retention_data[prev_month] = np.nan
        
    total_user_count = df_retention[df_retention.first_date_cohort ==  selected_month].first_date_cohort.count()
    retention_data['total_user_count'] = total_user_count
    retention_data[selected_month] = 1 
    
    query = "first_date_cohort == {}".format(selected_month)

    for next_month in next_months:
        new_query = query + " and {} > 0".format(str('m_' + str(next_month)))
        retention_data[next_month] = np.round(df_retention.query(new_query)['m_' + str(next_month)].sum()/total_user_count,2)
    retention_array.append(retention_data)
    
df_retention = pd.DataFrame(retention_array)
df_retention.index = months

#showing new cohort based retention table
df_retention

<ipython-input-60-8f12c4e9910d>:19: RuntimeWarning: invalid value encountered in longlong_scalars
  retention_data[next_month] = np.round(df_retention.query(new_query)['m_' + str(next_month)].sum()/total_user_count,2)

,total_user_count,2011_01,2011_02,2011_03,2011_04,2011_05,2011_06,2011_07,2011_08,2011_09,2011_10,2011_11,2011_12,2012_01,2012_02,2012_03,2012_04,2012_05,2012_06,2012_07,2012_08,2012_09,2012_10,2012_11,2012_12,2013_01,2013_02,2013_03,2013_04,2013_05,2013_06,2013_07,2013_08,2013_09,2013_10,2013_11,2013_12,2014_01,2014_02,2014_03,2014_04,2014_05,2014_06,2014_07,2014_08,2014_09,2014_10,2014_11,2014_12
trans_date.year_month,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2011_01,315,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2011_02,446,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2011_03,476,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2011_04,414,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2011_05,333,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2011_06,307,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2011_07,313,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2011_08,275,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2011_09,271,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2011_10,240,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2011_11,220,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2011_12,177,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2012_01,204,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2012_02,141,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2012_03,154,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2012_04,124,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2012_05,121,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2012_06,115,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2012_07,96,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2012_08,96,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2012_09,78,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2012_10,82,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2012_11,66,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2012_12,49,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2013_01,50,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2013_02,34,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2013_03,46,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2013_04,28,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2013_05,47,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2013_06,23,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2013_07,32,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2013_08,29,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2013_09,19,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2013_10,26,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2013_11,14,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2013_12,11,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2014_01,13,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2014_02,8,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2014_03,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2014_04,2,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2014_05,1,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2014_06,3,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00,0.00
2014_07,1,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00,0.00
2014_08,1,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00,0.00,0.00
2014_09,0,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,nan,nan,nan
2014_10,1,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00,0.00
2014_11,1,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00,0.00
2014_12,1,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,1.00

## Customer Lifetime Value

In [62]:
def LTV(margin, arpu, r, t=None):
    if t:
        value = margin * arpu * (1-r**t)/(1-r)
    else:
        value = margin * arpu/(1-r)
    return value

In [65]:
result = [x.reset_index(drop=True) for _, x in df_transactions.groupby(['customer_id'])]

df_res =[]
for item in result:
    df = item.copy()

    for (index, row) in enumerate(df.iterrows()):
        if (i == len(df) - 1) and ((df.loc[index, 'revenue_type'] == 'hibernating')):
            df['churned_customer'] = 'yes'
        else:
            df['churned_customer'] = 'no'


    df_res.append(df)

df_copy = pd.concat(df_res,ignore_index=True)
df_copy.shape

(20996, 33)

In [66]:
df_copy.head(2)

,trans_id,customer_id,trans_date,prod_subcat_code,prod_cat_code,qty,rate,cogs,total_amt,store_type,returned_item,drop_record,prod_cat,prod_subcat,counter,margin,assessment_date,duration,trans_date.day,trans_date.month_num,trans_date.year,trans_date.year_month,trans_date.hour,trans_date.weekday,trans_date.week_of_year,trans_date.month,trans_date.weekday_num,trans_date.week_of_month,first_purchase_date,first_purchase.cohort,purchase_date.cohort,returned_item_before,churned_customer
0,25890929042,266783,2011-09-24,1,2,-4,-1321,554.82,-5838.82,e-Shop,yes,no,Footwear,Mens,1,-6393.64,2014-12-02,393.00,24,9,2011,2011_09,0,07_Saturday,38,09_Sep,7,month.week4,2011-09-23,2011_09,2011_09,yes,no
1,98477711300,266783,2012-10-21,4,1,3,93,29.30,308.30,TeleShop,no,yes,Clothing,Mens,1,279.00,2014-12-02,122.00,21,10,2012,2012_10,0,01_Sunday,42,10_Oct,1,month.week3,2011-09-23,2011_09,2012_10,no,no

#### Formulas
https://towardsdatascience.com/data-driven-growth-with-python-part-1-know-your-metrics-812781e66a5b

https://medium.com/data-science-at-microsoft/retain-more-customers-by-understanding-churn-ae31d9b2aa2b

https://medium.com/data-science-at-microsoft/calculating-customer-lifetime-value-a-python-solution-85aa55754b33

https://www.caminofinancial.com/profit-margin-by-industry/

In [67]:
mt.check_unique_no(df_master, ['customer_id'])
df_master.shape

mt.check_unique_no(df_transactions, ['customer_id'])
df_transactions.shape

Data has 5647 unique customer_id

(5647, 165)

Data has 5506 unique customer_id

(20996, 32)

## Export Data

In [68]:
df_master.to_csv(filepaths.master_file_data, index=False)
df_transactions.to_csv(filepaths.interim_transactions_data, index=False)